/* Variables */
:root {
    --main-bg-color: #1A212C;
    --lighter-bg-color: #2D3848;
    --color-primary: #319795;
    --color-primary-lighter: #96C7C6;
    --color-gold: #E3BB23;
    --color-white: #fff;
    --font-size-expanded: 22px;
}
/* END variables */

/* Base styles */
 html {
    /* This defines what 1rem is */
    font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
} 

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-bg-color);
    font-family: sans-serif;
    font-size: 1.6rem;
}
/* END base styles */

/* Typography */
.display {
  font-size: 7.2rem;
  font-weight: 800;
  color: var(--main-bg-color);
}

/* END typography */

.hero {
   padding-left: 5%;
   padding-right: 5%; 
   padding-bottom: 60px;
   background: var(--color-primary);
   /*height: 65vh; */
}

.logo-box {
    margin-top: 60px;
    display: inline-block;
    color: var(--main-bg-color);
}

.logo {
    font-size: 3.2rem;
}

.heading {
    padding-top: 60px;
    width: 80%;
} 

#searchForm {
    margin-top: 60px;
}

.input {
    margin-right: 30px;
    padding-left: 20px;
    width: 40%;
    height: 60px;
    font-size: 26px;
    color: var(--main-bg-color);
    border-radius: 12px;
    box-shadow: none;
    border: none;
    opacity: 80%;
}

.input::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .input:-moz-placeholder {
    font-size: 40px;
}

.button {
    padding: 15px 24px;
    background: var(--main-bg-color);
    color: var(--color-white);
    font-weight: 600;
    font-size: 26px;
    border-radius: 12px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: background .2s ease-in;
}

.button:hover {
    background: var(--lighter-bg-color);
}

.shows {
    padding-left: 5%;
    padding-right: 5%;
}

.show-card {
    display: flex;
    margin: 40px 0 0 0;
    padding: 40px;
    background: var(--lighter-bg-color);
    color: var(--color-white);
    width: 95%;
    border-radius: 12px;
}

.show-card:not(:last-child) {
    margin-bottom: 40px;
}

.expand-icon, .collapse-icon {
    position: relative;
    left: 95%;
    top: 0px;
    height: 40px;
    cursor: pointer;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.show-title {
    font-size: 36px;
}

.show-summary {
    padding-top: 24px;
    font-size: 22px;
    line-height: 32px;
    width: 60%;
}

.star {
   margin-left: 30px;
   margin-bottom: -4px;
   height: 40px;
}

.rating {
    padding-left: 10px;
    color: var(--color-gold);
}

.genre-container {
    margin-top: 40px;
}

.genre {
    display: inline;
    padding: 5px 20px;
    background: var(--color-primary-lighter);
    color: var(--lighter-bg-color);
    font-weight: 600;
}

.genre:not(:last-child) {
    margin-right: 20px;
}





.showcard-expanded {
    display: flex;
    margin: 40px 0;
    padding: 40px;
    background: var(--lighter-bg-color);
    color: var(--color-white);
    width: 95%;
    border-radius: 12px;
}

.image-original {
    height: 600px;
}

.show-title--expanded {
    font-size: 62px;
}

.star--expanded {
    padding-left: 30px;
    height: 56px;
    margin-bottom: -6px;
}

.fave {
    width: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: var(--font-size-expanded);
    cursor: pointer;
}

.fave img {
    margin-left: 20px;
    margin-bottom: -12px;
    height: 40px;
}

.language {
    padding-top: 20px;
    font-size: var(--font-size-expanded);
}

.show-summary--expanded {
    padding-top: 20px;
    width: 80%;
    line-height: 40px;
    font-size: var(--font-size-expanded);
}

.genre-container--expanded {
    margin-top: 40px;
}

.genre--expanded {
    display: inline;
    margin-right: 25px;
    padding: 10px 40px;
    background: var(--color-primary-lighter);
    color: var(--lighter-bg-color);
    font-size: 16px;
    font-weight: 600;
}

.meta-container {
    display: flex;
    margin-top: 45px;
}

.channel {
    margin-right: 80px;
    font-size: var(--font-size-expanded);
}

.season {
    font-size: var(--font-size-expanded);
}

.link-container {
    display: flex;
    margin-top: 40px;
}

.imdb-link a {
    margin-right: 80px;
    font-size: var(--font-size-expanded);
    color: #fff;
}

.site a {
    font-size: var(--font-size-expanded);
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    font-size: 22px;
}

footer img {
    margin-left: 40px;
    margin-bottom: -15px;
    height: 40px;
}

footer a {
    margin-left: 5px;
    color: rgb(214, 214, 214);
    font-size: 18px;
}

/********************/
/* Media queries */
/********************/

/* Up to 600px */

@media only screen and (max-width: 600px) {
    .display {
        font-size: 5.2rem;
    }

    .heading {
        width: 100%;
    }

    .input {
        display: block;
        margin-right: 0;
        width: 95%;
    }

    .button {
        margin-top: 2rem;
        width: 100%;
    }
}